.welcome-wrapper {
	min-height:0rem;
	height:auto;
	width:100%;
	position:relative;
	background-color: #7FB069;
}

.welcome-header {
	position:absolute;
	top:0;
	min-height:7rem;
	width:100%;
	background: rgba(0,0,0,0.1);
}

.welcome-header-options {
	position:relative;
	float:right;
}

.welcome-header-options a {
	color: #ffffff;
	margin: 3em;
	display: block;
	position: relative;
	float:right;
}

.welcome-header-options a:hover {
	color: #dddddd;
}

.iphone-image {
	width:30%; 
	margin-top:11rem; 
	margin-left:10%; 
	margin-bottom:4rem;
}

