<div class="welcome-wrapper">
	<div class="welcome-header" >
			<div class="welcome-header-options">
				<span><a href ng-click="vm.toggleLogin()" tabindex=6>Login</a> <i class="material-icons">&#xE853;</i></span>
				<span> <a tabindex=5>SignUp</a> <i class="material-icons">&#xE85D;</i></span>
				<span> <a href="" tabindex=4>About</a> <i class="material-icons">&#xE88E;</i></span>
			</div>
	</div>
	<div class="login-bar cssSlideUp" ng-show="vm.loginVisible">
		<form novalidate class="simple-form">
			<div class="login-field"><button type="submit" ng-click="" tabindex=3/><a>Submit</a></button></div>
    		<div class="login-field"><a>Password: </a> <input type="password" ng-model="user.email" tabindex=2/></div>
    		<div class="login-field"><a>Username: </a> <input type="text" ng-model="user.name" tabindex=1/></div>
    		
  </form>


	</div>
	<div class="welcome-left"><img class="iphone-image" src="../../../iphone5.png" alt="iphone 5">
	</div>
	<div class="welcome-left">
		<div class="welcome-text">
			<h1>Eventify</h1>
			<h3>A management console and notification system for all your event planning needs.</h3>
		</div>
	</div>
</div>
