body {
	margin: 0;
	font-family: 'Poiret One', Arial, Helvetica, sans-serif;
}

a {
	color: #000000;
	text-decoration: none;
}

h1 {
	font-size: 6em;
}

h3 {
	font-size: 3em;
}

.center {
	margin:0 auto;
}


